.blog-series-page {
  max-width: 800px !important;
  margin: 0 auto;

  .main-blog-content {
    height: 100%;
    .blog-section {
      p {
        padding: 16px 0;
        font-size: 16px;

        ul {
          li {
            margin: calc(0.725rem) 0;
            b {
              font-weight: 500;
              color: var(--color-text-primary);
            }
            i {
              color: var(--color-anchor);
              font-size: 16px;
              margin-right: 6px;
            }
          }
        }

        span {
          font-size: 16px;
          color: var(--color-text-primary);
        }
      }
    }
  }
}
