.blog-series-page {
  max-width: 820px !important;
  margin: 0 auto;

  .main-blog-content {
    span {
      color: var(--color-text-secondary);
    }
    height: 100%;
    .blog-section {
      margin-top: 20px;
      .blog-section-title {
        font-size: 22px;
        background: linear-gradient(
          200deg,
          var(--gradient-blue) 55%,
          var(--gradient-purple) 75%,
          var(--gradient-pink) 85%,
          var(--gradient-yellow) 97%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        padding: 16px 0;
        font-size: 16px;

        ul {
          li {
            margin: calc(0.725rem) 0;
            b {
              font-weight: 500;
              color: var(--color-text-primary);
            }
            i {
              color: var(--color-anchor);
              font-size: 16px;
              margin-right: 6px;
            }
          }
        }

        span {
          font-size: 16px;
          color: var(--color-text-primary);
        }
      }

      h4 {
        span {
          color: var(--color-pink);
        }
      }

      .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 10px;
      }

      .project {
        width: 100%;
        text-align: center;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          pointer-events: all;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 768px) {
        .projects-grid {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
      }
    }
  }
}
