.blog-series-page {
  max-width: 820px !important;
  margin: 0 auto;

  .main-blog-content {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 24px;

    .open-txt {
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 16px;

      ul {
        li {
          margin: calc(0.725rem) 0;

          b {
            font-weight: 500;
            color: var(--color-text-primary);
          }

          i {
            color: var(--color-anchor);
            font-size: 16px;
            margin-right: 6px;
          }
        }
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 8px 0px 0px 0px;

      img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #6a83ff80;
      }

      p {
        color: var(--color-text-secondary);
        font-size: 16px;
        padding: 16px 0px;
      }
    }

    .video-container {
      overflow: hidden;
      width: 100%;

      .video {
        width: 100%;
        height: 100%;
        pointer-events: auto;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid var(--border-color);
      }
    }

    .multiple-image-container {
      display: flex;
      flex-wrap: wrap;

      div {
        flex: 1 1 25%;
        box-sizing: border-box;
        padding: 10px;

        img {
          border-radius: 8px;
        }
      }

    }

    .blog-section {
      margin-top: 20px;

      .blog-section-title {
        font-size: 22px;
        background: linear-gradient(200deg,
            var(--gradient-blue) 55%,
            var(--gradient-purple) 75%,
            var(--gradient-pink) 85%,
            var(--gradient-yellow) 97%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        padding: 16px 0;
        font-size: 16px;

        b {
          font-weight: 500;
          color: var(--color-heart);
        }

        ul {
          li {
            margin: calc(0.725rem) 0;

            b {
              font-weight: 500;
              color: var(--color-text-primary);
            }

            i {
              color: var(--color-anchor);
              font-size: 16px;
              margin-right: 6px;
            }
          }
        }

        span {
          font-size: 16px;
          color: var(--color-text-primary);
        }
      }

      h4 {
        font-size: 18px;
        margin: 18px 0;
        margin-bottom: 0px;

        span {
          color: var(--color-pink);
        }
      }
    }
  }
}