.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.video {
    width: 100%;
    text-align: center;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        pointer-events: all;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .video-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}