@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease,
    background 0.3s ease;
}

/* Global variables */
/* Default theme - Dark */
:root {
  --color-bg-primary: #010314;
  --color-bg-box-container: #0f111f;
  --color-bg-box-container-dark: #151c2a;
  --color-text-primary: #fff;
  --color-text-primary-dark: #e1eafd;
  --color-text-secondary: #acb5c8;
  --color-text-secondary-dark: #60677a;
  --color-error: #ff375f;
  --color-warning: #ffa115;
  --color-warning-bg: #ffa11536;
  --color-success: #00b8a3;
  --color-info: #0b84ff;
  --font-family: "Inter", sans-serif;
  --color-anchor: #9771ff;
  --border-color: #282e3b;
  --selection-bg-color: rgba(47, 29, 107, 0.426);
  --shadow-color: #9771ff84;
  --anchor-underline-color: #7f50ff6a;
  --blur-bg: #1213165a;
  --loader-color: no-repeat
    radial-gradient(circle closest-side, var(--color-text-secondary) 90%, #0000);

  --gradient-yellow: #ffe0a2;
  --gradient-purple: #bf87ff;
  --gradient-blue: #9ce8ff;
  --gradient-pink: #f093b0;
}

/* Light theme */
[data-theme="light"] {
  --color-bg-primary: #f0f2f5;
  --color-bg-box-container: #fff;
  --color-bg-box-container-dark: #fff;
  --color-text-primary: #333;
  --color-text-primary-dark: #242424;
  --color-text-secondary: #6b7280;
  --color-text-secondary-dark: #60677a;
  --color-error: #ff375f;
  --color-warning: #ffa115;
  --color-success: #00b8a3;
  --color-info: #0b84ff;
  --font-family: "Inter", sans-serif;
  --color-anchor: #7444ff;
  --border-color: #d0d7de;
  --selection-bg-color: rgba(209, 195, 255, 0.824);
  --shadow-color: #7444ff84;
  --anchor-underline-color: #7444ff6a;
  --blur-bg: #ffffffb3;
  --loader-color: no-repeat
    radial-gradient(circle closest-side, var(--color-text-secondary) 90%, #0000);

  --gradient-yellow: #ffa703;
  --gradient-purple: #9232ff;
  --gradient-blue: #2c88ff;
  --gradient-pink: #ff6d9c;
}

/* Body styles */
html,
body {
  width: 100vw;
  font-family: var(--font-family);
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
}

body {
  color: var(--color-text-primary);
}

html {
  scroll-behavior: smooth;
}

html.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

#root {
  background-color: var(--color-bg-primary);
}

::-webkit-scrollbar {
  height: 0px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--anchor-underline-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--anchor-underline-color);
}

.page {
  max-width: 920px;
  margin: 0 auto;
  padding: 20px;
}

/* Selection styles */
*::selection {
  color: var(--color-anchor);
  background: var(--selection-bg-color);
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-text-primary);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

/* Paragraph styles */
p {
  color: var(--color-text-secondary);
  line-height: 1.9;
  font-size: 18px;
}

/* Anchor (link) styles */
.link {
  color: var(--color-anchor);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--anchor-underline-color);
  font-weight: 500;
  font-style: italic;
}

.link:hover {
  transition: all 0.3s ease;
  text-decoration-color: var(--color-anchor);
}

/* Button styles */
.btn {
  font-family: var(--font-family);
  color: var(--color-anchor);
  background-color: var(--selection-bg-color);
  border: none;
  padding: 8px 16px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;
  font-weight: 500;
  border: 1px solid transparent;
}

.btn:hover {
  transition: box-shadow 0.3s ease, border 0.3s ease;
  border: 1px solid var(--color-anchor);
  box-shadow: 0 0 20px var(--shadow-color);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  &:hover {
    border: 1px solid transparent;
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.back-link {
  margin-bottom: 30px;
}

img {
  pointer-events: none;
}

.section-top {
  margin: 150px 0 0 0;
}

.section {
  margin: 100px 0 0 0;
}

.section-header {
  margin: 0 0 20px 0;
}

.signature {
  width: 100px;
  height: 70px;
  pointer-events: none;
  margin-left: 8px;
  box-sizing: border-box;
}

ul,
li {
  color: var(--color-text-secondary);
  line-height: 1.9;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  /* Paragraph styles */
  p {
    font-size: 16px;
  }

  .link {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }

  .section-top {
    margin: 110px 0 0 0;
  }

  .section {
    margin: 60px 0 0 0;
  }
}
