.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px calc((100% - 920px) / 2);
  background-color: var(--blur-bg);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--border-color);
  z-index: 1;

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      width: 52px;
      height: 52px;
      margin-left: 8px;
    }

    .page-title {
      width: 45vw;
      font-size: 20px;
      font-weight: 500;
      margin-left: 20px;
      color: var(--color-text-primary-dark);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .navigation-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .navbar {
    .logo-container {
      .logo {
        width: 44px;
        height: 44px;
        margin-left: 8px;
      }

      .page-title {
        width: 55vw;
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
        color: var(--color-text-primary-dark);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}