.insight-div {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-insight-border);
  background: var(--color-insight-bg);
  padding: 24px;
  border-radius: 10px;
  position: relative;
  margin: 20px 0;

  h4 {
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: 600;

    &::selection {
      color: var(--color-insight) !important;
      background: var(--color-insight-bg-light) !important;
    }
  }

  p {
    padding: 0 !important;
    color: var(--color-text-primary);

    &::selection {
      color: var(--color-insight) !important;
      background: var(--color-insight-bg-light) !important;
    }

    a {
      color: var(--color-insight);
      text-decoration: underline;
      text-underline-offset: 0.2em;
      text-decoration-color: var(--color-insight-border);

      &:hover {
        transition: all 0.3s ease;
        text-decoration-color: var(--color-insight);
      }

      &::selection {
        color: var(--color-insight) !important;
        background: var(--color-insight-bg-light) !important;
      }
    }
  }

  .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    font-size: 20px;
    color: var(--color-bg-primary);
    background-color: var(--color-insight);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  ul {
    li {
      margin: calc(0.725rem) 0;
      color: var(--color-text-primary) !important;

      b {
        &::selection {
          color: var(--color-insight) !important;
          background: var(--color-insight-bg-light) !important;
        }
      }

      a {
        color: var(--color-insight);
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: var(--color-insight-border) !important;

        &:hover {
          transition: all 0.3s ease;
          text-decoration-color: var(--color-insight) !important;
        }

        &::selection {
          color: var(--color-insight) !important;
          background: var(--color-insight-bg-light) !important;
        }
      }

      &::selection {
        color: var(--color-insight) !important;
        background: var(--color-insight-bg-light) !important;
      }

      i {
        color: var(--color-insight) !important;
        font-size: 18px;
        margin-right: 6px;
      }
    }

    &::selection {
      color: var(--color-insight) !important;
      background: var(--color-insight-bg-light) !important;
    }
  }
}