.blog-series-page {
  .section {
    h2 {
      margin-bottom: 10px;
    }

    .container {
      height: 100%;
      min-height: 15vh;
      .blog-series-list {
        .series-item {
          display: flex;
          height: 100%;

          .timeline-middle {
            position: relative;
            background: var(--color-anchor);
            margin-left: 8px;
            width: 1.5px;
            min-width: 1.5px;
            max-width: 1.5px;
            height: -20px;

            .timeline-circle {
              position: absolute;
              top: 21px;
              left: 50%;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-image: linear-gradient(
                300deg,
                var(--gradient-purple),
                #7444ff
              );
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
          .blog-series-item-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 12px 0;
            gap: 8px;

            .blog-series-item {
              display: flex;
              width: 100%;

              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              padding: 12px 12px;
              gap: 16px;

              p {
                font-size: 14px;
                white-space: nowrap;
                margin: 0;
                line-height: 1.8;
              }

              h4 {
                font-size: 16px;
                margin: 0;
                line-height: 1.8;
                font-weight: 400;
                padding-right: 8px;
              }

              &:hover {
                transition: all 0.2s ease !important;
                background-color: var(--selection-bg-color);
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;

                h4 {
                  color: var(--color-anchor);
                }
              }
            }
          }
        }
      }
    }
  }

  .journey-not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 75vh;
    flex-direction: column;
    max-width: 400px !important;
    margin: 0 auto;
    text-align: center;

    h1 {
      margin-top: 100px;
      margin-bottom: 20px;
    }

    p {
      .requested-URL {
        color: var(--color-anchor);
        background-color: var(--selection-bg-color);
        padding: 4px;
      }
    }

    .error-no {
      color: var(--color-error);
    }

    .rem-h1 {
      color: var(--color-text-secondary);
    }
  }
}
