.command-center-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--blur-bg);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;

  .command-center {
    width: 90%;
    max-width: 550px;
    height: 75vh;
    min-height: 500px;
    background-color: var(--color-bg-box-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;

    .search-bar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 11%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid var(--border-color);

      input {
        padding: 20px 20px;
        width: 100%;
        height: 100%;
        color: var(--color-text-primary);
        font-size: 16px;
        font-family: var(--font-family);
        outline: none;
        background: none;
        border: none;

        &::placeholder {
          color: var(--color-text-secondary-dark);
          font-size: 16px;
        }
      }

      .filter-posts-container {
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        margin-right: 20px;
      }

      .filter-posts-container .filter-icon {
        color: var(--color-text-secondary-dark);
        font-size: 16px;
      }

      .filter-posts-container:hover .filter-icon {
        transition: all 0.3s ease;
        color: var(--color-anchor);
      }

      .filter-posts-container:hover {
        transition: all 0.3s ease;
        border: 1px solid var(--color-anchor);
        box-shadow: 0 0 30px var(--anchor-underline-color);
      }
    }

    .item-center {
      flex: 1;
      width: 100%;
      border: 1px solid var(--border-color);
      border-top: none;
      overflow-y: scroll;
      padding: 0 12px;

      .cmd-items {
        h4 {
          padding: 20px 0 0 10px;
          font-size: 14px;
          color: var(--color-text-primary);
        }

        a {
          width: 100%;
          margin-top: 8px;
          padding: 20px 16px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: var(--color-text-secondary);

          &:hover {
            transition: all 0.2s ease;
            color: var(--color-anchor);
            background-color: var(--selection-bg-color);
          }
        }
      }
    }

    .short-cuts {
      width: 100%;
      padding: 20px;
      border: 1px solid var(--border-color);
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 20px;

      .shortcut-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .shortcut-name {
          color: var(--color-text-secondary-dark);
        }

        .shortcut-key {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          color: var(--color-anchor);

          .shortcut-letter {
            width: 27px;
            height: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background-color: var(--selection-bg-color);
          }
        }
      }
    }
  }
}